@import './elementStyle.css';

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: fantasy;
  outline: none;
}

:root {
  --mainColor: #212121;
  --redPrimary: #dc3545;
  --whiteColor: #e8e8e8;
  --text-font: 1rem;
}

.wraper {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button {
  position: relative;
  display: inline-block;
  transition: 2s ease;
}

.button:disabled p {
  background-color: #949494;
}

.button:after {
  content: "";
  height: 100%;
  width: 100%;
  padding: 4px;
  position: absolute;
  bottom: -15px;
  left: -4px;
  z-index: -1;
  background-color: #2b1800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button p {
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: var(--text-font);
  text-align: center;
  text-decoration: none;
  background-color: #ffa12b;
  display: block;
  position: relative;
  padding: 10px 20px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);
  -webkit-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
  box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button p:active {
  top: 10px;
  background-color: #f78900;
  -webkit-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3pxpx 0 #915100;
  box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
}

.button:disabled p:active {
  background-color: #949494;
}

.input {
  padding: 10px 20px;
  outline: 0;
  border: 0;
}

.input:focus-visible {
  outline: 0;
  border: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
}

.footer p {
  color: var(--whiteColor);
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.shape {
  background-color: #ffa12b;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);
  -webkit-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
  box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
}